<!DOCTYPE html>
<html>
    <head>
        <title>Start add your house</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>添加(id: $secure_id)</h1>
        <form action="/" id="add" onsubmit="return false">
            <input name="address" value=""/>
        </form>
         <ul>
            #foreach ($house in $houseTypes)
                <li>house type: $house</li>
             #end
          </ul>
           <h3>All Houses</h3>
           <ul>
                #foreach ($h in $houses)
                <li>house: $h.getName()</li>
                 #end
           </ul>
    </body>
</html>
